<div class="container fluid page-account-wrapper">
    <div class="page-title">Профиль</div>
    <div class="page-account">
        <div class="content">
            <Avatar />
            <div class="info">
                <ul class="fields">
                    <li>
                        <span class="label">E-mail:</span>
                        <span class="value">serj@mail.ru</span>
                    </li>
                    <li>
                        <span class="label">Логин:</span>
                        <span class="value">serj_nick</span>
                    </li>
                    <li>
                        <span class="label">Имя:</span>
                        <span class="value">Сергей</span>
                    </li>
                    <li>
                        <span class="label">Фамилия:</span>
                        <span class="value">Антонов</span>
                    </li>
                    <li>
                        <span class="label">Имя в чате:</span>
                        <span class="value">serj_nick</span>
                    </li>
                    <li>
                        <span class="label">Телефон:</span>
                        <span class="value">+7 987 678-90-90</span>
                    </li>
                </ul>
                <ul class="links">
                    <li><a href="#">Изменить данные</a></li>
                    <li><a href="#">Изменить пароль</a></li>
                    <li><a href="#" class="red">Выйти</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="back-button"><span>&laquo;</span></a>
    </div>
</div>