<div class="container">
    <div class="page-login">
        <div class="header">
            <div class="title">Вход</div>
        </div>
        <div class="content">
            <Form />
            <div class="register-link">
                <a href="#">Нет аккаунта?</a>
            </div>
        </div>
    </div>
</div>