<div class="page-login">
    <div class="header">
        <div class="title">Вход</div>
    </div>
    <div class="content">
        <span data-form></span>
        <div class="register-link">
            <a href="#">Нет аккаунта?</a>
        </div>
    </div>
</div>

