<div class="page-register">
    <div class="header">
        <div class="title">Регистрация</div>
    </div>
    <div class="content">
        <span data-form></span>
        <div class="register-link">
            <a href="#">Войти</a>
        </div>
    </div>
</div>
