<div class="page-chat-wrapper">
    <div class="page-header">
        <div class="profile-link"><a href="#">Профиль &raquo;</a></div>
        <div class="chat-search-wrapper">
            <input type="text" placeholder="Поиск">
        </div>
    </div>
    <div class="page-chat">
        <span data-component="ChatList"></span>

        {{#unless activeChat }}
            <div class="content empty">
                <div class="message">Выберите чат, чтобы отправить свое сообщение</div>
            </div>
        {{ else }}
            <div class="content">
                <div class="header"><span data-component="Avatar"></span></div>
                <span data-component="ChatTrack"></span>
                <div class="new-message-form">
                    <span class="btn attach">Прикрепить</span>
                    <div class="new-message-input-wrapper">
                        <input class="new-message-input" type="text" name="message">
                        <div class="new-message-input-error" style="display: none;">Поле для сообщения не может быть пустым</div>
                    </div>
                    <span class="btn send">Отправить</span>
                </div>
            </div>
        {{/unless}}
    </div>
</div>
