<div class="page-account-wrapper">
    <div class="page-title">Профиль</div>
    <div class="page-account is-edited">
        <div class="content">
            <span data-avatar></span>
            <div class="info">
                <span data-form></span>
                <ul class="links">
                    <li><a href="#" class="red">Отменить</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="back-button"><span>&laquo;</span></a>
    </div>
</div>
