<div class="container fluid page-account-wrapper">
    <div class="page-title">Профиль</div>
    <div class="page-account is-edited">
        <div class="content">
            <Avatar />
            <div class="info">
                <ul class="fields">
                    <li>
                        <label class="label" for="email">E-mail:</label>
                        <span class="value">
                           <input type="text" id="email" name="email" value="serj@mail.ru">
                        </span>
                    </li>
                    <li>
                        <label class="label" for="login">Логин:</label>
                        <span class="value">
                           <input type="text" id="login" name="login" value="serj_nick">
                        </span>
                    </li>
                    <li>
                        <label class="label" for="name">Имя:</label>
                        <span class="value">
                           <input type="text" id="name" name="name" value="Сергей">
                        </span>
                    </li>
                    <li>
                        <label class="label" for="lastname">Фамилия:</label>
                        <span class="value">
                            <input type="text" id="lastname" name="lastname" value="Антонов">
                       </span>
                    </li>
                    <li>
                        <label class="label" for="nickname">Имя в чате:</label>
                        <span class="value">
                            <input type="text" id="nickname" name="nickname" value="serj_nick">
                        </span>
                    </li>
                    <li>
                        <label class="label" for="phone">Телефон:</label>
                        <span class="value">
                            <input type="text" id="phone" name="phone" value="+7 987 678-90-90">
                        </span>
                    </li>
                </ul>
                <ul class="links">
                    <li><input type="submit" value="Сохранить"></li>
                    <li><a href="#" class="red">Отменить</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="back-button"><span>&laquo;</span></a>
    </div>
</div>
