<div class="page-error">
    <div class="header">
        <div class="title">{{ title }}</div>
        <div class="subtitle">{{ subtitle }}</div>
    </div>
    <div class="back-button">
        <a href="#">Назад к чатам</a>
    </div>
</div>
